// app global css in SCSS form
.contenedor{
    width: 100%;
    border: 1px solid #000;
    overflow-x: auto;
}

.section{
    margin-top: 51px;
    width: 100%;
}

.main{
    position: relative;
    padding-left: 0px;
}

.mainIMG{
    opacity: 70%;
    width: 100%;
    height: 100vh;
}
.generations{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: red;
    justify-content: center;
}

.generationsContent{
    background-color: white;
    width: 100%;
    justify-content: center;
}

.pokeLeft{
    background-color: #2B64FC;
    border-top-left-radius: 90px;
    width: 60%;
    display: inline-block;
    margin-right: 0px;
    border-right: 1px solid black;
}

.pokeRight{
    background-color: green;
    border-top-right-radius: 90px;
    width: 35%;
    margin-left: 0px;
    border-left: 1px solid black;
    display: inline-block;
}

.listGenerations{
    margin: 1px;
    padding: 1px;
}

.btnGenerations{
    margin: 15px;
    width: 150px;
}

.btnPokedex{
    margin: 15px;
    width: auto;
    display: inline;
}

@media (max-width: 767.9px) {

    .mainHeader{
        display: none;
    }
    .mainHeaderMobile{
        display: block;
    }
    .mainToolbar{
        color: #000;
        font-size: 20px;
    }
    .mainBTN{
        font-size: 10px;
        margin-left: 0px;
        margin-bottom: 0px;
        color: #000
    }
    .pokeLeft{
        margin: 10px;
        margin-right: 0px;
        width: 44% !important
    }
    .pokeRight{
        margin: 10px;
        margin-left: 0px;
        width: 50% !important
    }
    .btnPokedex{
        margin: 5px;
        width: auto;
    }
    .imgPokedex{
        width: 90%;
        margin-left: 5%;
    }
}

@media (min-width:768px) and (max-width: 1279.9px) {
    .mainHeader{
        display: none;
    }
    .mainHeaderMobile{
        display: block;
    }
    .mainBTN{
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
        color: #000
    }
    .mainToolbar{
        color: #000;
        font-size: 30px;
    }
    .pokeLeft{
        margin: 19px;
        margin-right: 0px;
        width: 50% !important
    }
    .pokeRight{
        margin: 19px;
        margin-left: 0px;
        width: 45% !important
    }
    .btnPokedex{
        margin: 5px;
        margin-left: 30px;
        width: 40%;
        display: inline;
    }
    .imgPokedex{
        width: 70%;
        margin-left: 15%;
    }
}

@media (min-width:1280px) {
    .mainBTN{
        font-size: 15px;
        margin: 4px;
        color: #000
    }

    .mainHeaderMobile{
        display: none;
    }

    .generations{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: red;
        justify-content: left;
        width: 100%;
    }

    .pokeLeft{
        margin-top: 50px;
        margin-right: 0px;
        width: 40% !important
    }
    .pokeRight{
        margin-top: 50px;
        margin-left: 0px;
        width: 40% !important
    }
    .btnPokedex{
        margin: 5px;
        margin-left: 30px;
        width: 40%;
        display: inline;
    }
    .imgPokedex{
        width: 70%;
        margin-left: 15%;
    }
}